<header>
  <h2 class="header-logo">Placement Cell</h2>
  <ul>
    <% if(locals.user) { %>


        <ul class="nav">
          <li class="">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li> 
          <li class="">
            <a class="nav-link" aria-current="page" href="/student/add-student"
              >Add new Student</a
            >
          </li>
          <li class="">
            <a class="nav-link" href="/interview/add-interview"
              >Add an Interview</a
            >
          </li>
          <li class="">
            <a class="nav-link" href="/download">Download Report</a>
          </li>
          <li class="">
            <a class="btn btn-outline-secondary mx-2" href="/profile">
              <i class="fa-regular fa-user"></i>
              Hi, <%= user.name %></a
            >
          </li>
        </ul>

      

        
        <li>
          <a href="/sign-out">Sign Out</a>
        </li>

    <%} else { %>

      <li>
        <a href="/">Sign In</a>
      </li>
      <li>
        <a href="/sign-up">Sign Up</a>
      </li>
    
    <% } %>
    

  </ul>
</header>