<link rel="stylesheet" href="<%= assetPath('css/user_signin.css') %>">

<div class="user-signin">
  <h2>Login to access the Placement Cell</h2>
  <form action="/create-session" method="POST" class="signin-form">
    
    <input type="email" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    
    <button type="submit">Sign in</button>
    <a href="/sign-up">Not Registered? <span>Sign up here</span></a>
    <!-- <a id = "social-login" href="/user/auth/google"><i class="fa-brands fa-google"></i>Login with Google</a> -->
    

  </form>
</div>