.container-dashboard{
  display: flex;
  flex-direction: column;
  margin: auto 5%;

  .students{
    overflow: auto;
  }

  .student-details{
    display: flex;
    flex-direction: column;
    min-width: 25%;
  }
  .students-list{
    display: flex;
    gap: 1rem;
    margin: 20px;
  }

 

  .student-details-card{
    background-color: #ff5722;
    color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;

    &__basic-information{
      display: flex;
      justify-content: space-between;
      background: rgb(0, 0, 0);
      color: white;
      padding: 10px;
      border-radius: 5px;
      

      &__details{
        p{
          font-weight: 600;
          color: #ff5722;
        }
      }
    }

    &__score{
      
      margin-bottom: 10px;
    }

    &__actions{
      display: flex;
      justify-content: space-around;

      &__button{
        padding: 6px 15px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
       

      }
    }

    &__interviews{

      background-color: #ff5722;
      color: white;
      padding: 10px;
      box-shadow: rgba(0,0,0, 0.35) 0px 5px 15px;
      border-radius: 5px;
      margin-top: 20px;

      &__table{
        border-collapse: collapse;
        width: 100%;

        td, th{
          border: 1px solid #ddd;
          padding: 8px;
        }

        tr:nth-child(even){
          background-color: #f2f2f2;
        }

        tr:hover {
          background-color: #ddd;
        }

        th{
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }
      }
    }
  }

  .primary{
    background-color: #04AA6D;
  }

  .danger{
    background-color: red;
  }
}