.container-dashboard {
  display: flex;
  flex-direction: column;
  margin: auto 5%; }
  .container-dashboard .students-heading, .container-dashboard .interview-heading {
    /* background: whitesmoke; */
    padding: 0px 19px;
    font-size: 2rem;
    /* border-radius: 5px; */
    color: #239002;
    margin: 15px 0; }
  .container-dashboard .students {
    overflow: auto; }
  .container-dashboard .student-details {
    display: flex;
    flex-direction: column;
    min-width: 25%; }
  .container-dashboard .students-list {
    display: flex;
    gap: 2rem;
    margin: 20px; }
  .container-dashboard .student-details-card {
    color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #ffab13 100%); }
    .container-dashboard .student-details-card__basic-information {
      display: flex;
      justify-content: space-between;
      background: black;
      color: white;
      padding: 10px;
      border-radius: 5px; }
      .container-dashboard .student-details-card__basic-information__details p {
        font-weight: 600;
        color: #ff5722; }
    .container-dashboard .student-details-card__score {
      margin-bottom: 10px; }
    .container-dashboard .student-details-card__actions {
      display: flex;
      justify-content: space-around; }
      .container-dashboard .student-details-card__actions__button {
        padding: 6px 15px;
        color: white;
        text-decoration: none;
        border-radius: 5px; }
    .container-dashboard .student-details-card__interviews {
      background-color: #4f57ce;
      color: white;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
      margin-top: 20px; }
      .container-dashboard .student-details-card__interviews__heading {
        margin: 10px 0;
        font-size: 1.25rem; }
      .container-dashboard .student-details-card__interviews__table {
        border-collapse: collapse;
        width: 100%; }
        .container-dashboard .student-details-card__interviews__table td, .container-dashboard .student-details-card__interviews__table th {
          border: 1px solid #ddd;
          padding: 8px; }
        .container-dashboard .student-details-card__interviews__table tr:nth-child(even) {
          background-color: #f2f2f2; }
        .container-dashboard .student-details-card__interviews__table tr:hover {
          background-color: white;
          color: black; }
        .container-dashboard .student-details-card__interviews__table th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #239002;
          color: white; }
  .container-dashboard .primary {
    background-color: #239002; }
  .container-dashboard .danger {
    background-color: red; }
  .container-dashboard .interview-list .interview-details {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 20px; }
  .container-dashboard .interview-list .interview-detail {
    min-width: 25%; }
    .container-dashboard .interview-list .interview-detail__information {
      background-color: #0f112d;
      color: white;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
      margin-top: 20px; }
      .container-dashboard .interview-list .interview-detail__information__date {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .container-dashboard .interview-list .interview-detail__information__date__name {
          font-size: 2rem;
          padding: 0;
          margin: 0;
          font-weight: 600; }
        .container-dashboard .interview-list .interview-detail__information__date__doi {
          font-size: 1rem; }
          .container-dashboard .interview-list .interview-detail__information__date__doi span {
            font-weight: 600; }
      .container-dashboard .interview-list .interview-detail__information__enrolled__hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid white;
        margin: 1em 0;
        padding: 0; }
      .container-dashboard .interview-list .interview-detail__information__enrolled__heading {
        margin: 10px 0;
        font: 1rem;
        font-weight: 600; }
      .container-dashboard .interview-list .interview-detail__information__enrolled__table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 15px; }
        .container-dashboard .interview-list .interview-detail__information__enrolled__table td, .container-dashboard .interview-list .interview-detail__information__enrolled__table th {
          border: 1px solid #ddd;
          padding: 8px; }
        .container-dashboard .interview-list .interview-detail__information__enrolled__table tr:nth-child(even) {
          background-color: #f2f2f2; }
        .container-dashboard .interview-list .interview-detail__information__enrolled__table tr:hover {
          background-color: white;
          color: black; }
        .container-dashboard .interview-list .interview-detail__information__enrolled__table th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #239002;
          color: white; }
      .container-dashboard .interview-list .interview-detail__information__enrolled__action {
        margin-bottom: 10px; }
        .container-dashboard .interview-list .interview-detail__information__enrolled__action__button {
          padding: 6px 15px;
          color: white;
          text-decoration: none;
          border-radius: 5px; }
    .container-dashboard .interview-list .interview-detail__add {
      margin: 20px 0; }
      .container-dashboard .interview-list .interview-detail__add__hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid white;
        margin: 1em 0;
        padding: 0; }
      .container-dashboard .interview-list .interview-detail__add__heading {
        margin: 10px 0;
        font: 1rem;
        font-weight: 600; }
      .container-dashboard .interview-list .interview-detail__add__email input {
        border: none;
        outline: none;
        padding: 8px 10px;
        border-radius: 3px;
        margin-bottom: 5px;
        width: 80%; }
      .container-dashboard .interview-list .interview-detail__add__result select {
        outline: none;
        border: none;
        padding: 8px 5px;
        border-radius: 3px;
        margin: 10px 0px; }
      .container-dashboard .interview-list .interview-detail__add__button {
        outline: none;
        border: none;
        padding: 8px 17px;
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 3px;
        color: white; }
